<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo - Wolfcars</title>

    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>
    <main class="container level">
      <section class="level-item section">
       <form>
          <figure class="image is-128x128 bg-color--secondary figure-avatar">
            <img class="is-rounded" src="../assets/image/userAdd.svg" alt="Adicionando usuário">
          </figure>
          <h1 class="title text-color--default has-text-centered">Cadastrar</h1>
       </form>
      </section>

      <section class="level-item">
       
        <h1 class="title text-color--default has-text-centered">Entrar</h1>
      </section>
    </main>
  </body>
</html>