<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo - Wolfcars</title>

    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" 
      crossorigin="anonymous">

  </head>
  <body class="has-h-100">
    <header class="hero bg-gradient--light">
      <div class="has-m-lg-t has-m-lg-b">
        <nav class="container navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
              <h1 class="navbar-item title text-dark--overlay">Wolfcars</h1>
            </a>
            <a class="navbar-burger burger has-m-lg-t" 
              role="button" aria-label="menu" aria-expanded="false" data-target="menu-primary">
              <i class="fas fa-bars fa-2x"></i>
            </a>
          </div>
          
          <div id="menu-primary" class="navbar-menu bg-transparent">
            <div class="navbar-end">
              <a class="navbar-item has-border-radius has-background-success 
                has-text-white has-m-sm is-hidden-mobile is-hidden-tablet-only" href="login.html">
                <i class="fa fa-plus fa-lg has-m-sm-r"></i>Anúnciar
              </a>
              <a class="navbar-item has-border-radius has-m-sm" href="login.html">
                Sair
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main class="container">
      <article class="has-p-t">
        <h1 class="subtitle is-3 has-p">Bem Vindo <strong>@vinicius</strong></h1>
        <div class="columns is-centered">
        </div>
      </article>
    </main>

    <script src="../assets/js/menuMobile.js"></script>
    <script type="module" src="../assets/js/userAreaCtr.js"></script>
  </body>
</html>