<section class="is-paddingless has-background-white column is-2 
  has-m-lg has-text-centered has-border-radius has-shadow has-shadow--card">
  <a itemid="userUpdate" class="section is-block">
    <i class="fa fa-user-cog fa-3x has-m-lg-b text-dark--overlay"></i>
    <p class="subtitle is-4">Editar Perfil</p>
  </a>
</section>
<section class="is-paddingless has-background-white column is-2 
  has-m-lg has-text-centered has-border-radius has-shadow has-shadow--card">
  <a itemid="userAd" class="section is-block">
    <i class="fas fa-car fa-3x has-m-lg-b text-dark--overlay"></i>
    <p class="subtitle is-4">Meus Anúncios</p>
  </a>
</section>
<section class="is-paddingless has-background-white column is-2 
  has-m-lg has-text-centered has-border-radius has-shadow has-shadow--card">
  <a itemid="userFav" class="section is-block">
    <i class="fas fa-heart fa-3x has-m-lg-b text-dark--overlay"></i>
    <p class="subtitle is-4">Meus Favoritos</p>
  </a>
</section>
<section class="is-paddingless has-background-white column is-2 
  has-m-lg has-text-centered has-border-radius has-shadow has-shadow--card">
  <a itemid="addAd" class="section is-block">
    <i class="fas fa-plus fa-3x has-m-lg-b text-dark--overlay"></i>
    <p class="subtitle is-4">Anúnciar Agora</p>
  </a>
</section>