<div class="columns section is-centered">
  <div class="column is-4 section">
    <h1 class="title has-text-centered">Atualizar Perfil</h1>
    <form method="post" name="form">
      <div class="field control has-icons-left" data-value="toggle">
        <input class="input is-medium" type="text" name="name" placeholder="Nome completo...">
        <span class="icon is-left">
          <i class="fas fa-user text-light--overlay"></i>
        </span>
      </div>

      <div class="field control has-icons-left">
        <input class="input is-medium" type="email" name="email" placeholder="fulano@gmail.com" disabled>
        <span class="icon is-left">
          <i class="fas fa-envelope text-light--overlay"></i>
        </span>
      </div>

      <div class="field control has-icons-left">
        <input class="input is-medium" type="password" name="password" placeholder="********">
        <span class="icon is-left">
          <i class="fas fa-lock text-light--overlay"></i>
        </span>
      </div>

      <div class="control field">
        <button class="button is-medium is-fullwidth has-background-success has-not-border has-text-white" 
          onclick="submitForm('signin')">
          salvar
        </button>
      </div>
      <div class="control field">
        <button class="button is-medium is-fullwidth has-background-danger has-not-border has-text-white" 
          onclick="submitForm('user')">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>