<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo - Wolfcars</title>

    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  </head>
  <body class="has-h-100">
    <header class="hero bg-gradient--light">
      <div class="has-m-lg-t has-m-lg-b">
        <nav class="container navbar">
          <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
              <h1 class="navbar-item title text-dark--overlay">Wolfcars</h1>
            </a>
          </div>
          <div class="navbar-menu bg-transparent">
            <div class="navbar-end">
              <a class="navbar-item has-border-radius has-background-success has-text-white has-m-sm" href="login.html">
                <i class="fa fa-plus fa-lg has-m-sm-r"></i>Anúnciar
              </a>
              <a class="navbar-item has-border-radius has-m-sm" href="login.html">
                Sair
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main class="container">
      <article class="has-p-t">
        <div class="columns is-centered">
          <section class="section bg-light column is-3 has-m-lg has-text-centered has-border-radius has-shadow has-shadow--card">
            <i class="fa fa-user-cog fa-4x has-m-lg-b text-dark--overlay"></i>
            <p class="subtitle is-3">Editar Perfil</p>
          </section>
          <section class="section bg-light column is-3 has-m-lg has-text-centered has-border-radius has-shadow has-shadow--card">
            <i class="fas fa-car fa-4x has-m-lg-b text-dark--overlay"></i>
            <p class="subtitle is-3">Meus Anúncios</p>
          </section>
        </div>
      </article>
    </main>
    
  </body>
</html>