@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

* { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body, html { min-width: 100%; min-height: 100%; }
body {
  --color-dark: #24292E;
  --color-dark-overlay: #404448;

  --color-light: #b2ebf2;
  --color-light-overlay: #00bcd4;

  --color-red: #dd2c00;
  --color-red-overlay:#ff5722;

  --fnt-family: 'Fira Sans', sans-serif;

  font-size: 16px;
  font-family: var(--fnt-family);
  background-color: #ECECEC;
  color: var(--color-dark);
}

.has-w-100 { width: 100%; }
.has-h-100 { height: 100vh; }

.has-not-border { border: none !important; }
.has-border-radius {border-radius: 5px; }

.has-shadow { box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, .15); }

.bg-transparent { background-color: transparent; }
.bg-dark { background-color: var(--color-dark); }
.bg-dark--overlay { background-color: var(--color-dark-overlay); }
.bg-light { background-color: var(--color-light); }
.bg-light--overlay { background-color: var(--color-light-overlay); }
.bg-red { background-color: var(--color-red); }
.bg-red--overlay { background-color: var(--color-red-overlay); }
.bg-gradient--red { background-image: linear-gradient(to right bottom, #ff5722, #f74d1a, #ee4312, #e63809, #dd2c00); }
.bg-gradient--light { background:linear-gradient(to right bottom, #b2ebf2, #95dfea, #76d4e2, #51c8db, #00bcd4); }

.text-dark { color: var(--color-dark); }
.text-dark--overlay { color: var(--color-dark-overlay); }
.text-light { color: var(--color-light); }
.text-light--overlay { color: var(--color-light-overlay); }
.text-red { color: var(--color-red); }
.text-red--overlay { color: var(--color-red-overlay); }

.facebook-color {background-color: #0B84ED; }
.google-color {background-color: #C14137; }
.gitHub-color {background-color: #24292E; }

.button-opacity:hover,
.button-opacity:focus {opacity: .75;}

.division::before,
.division::after { content: url(../image/separator.svg); margin: 5px }

.has-m-sm { margin: .5rem; }
  .has-m-sm-t { margin-top: .5rem; }
  .has-m-sm-r { margin-right: .5rem; }
  .has-m-sm-b { margin-bottom: .5rem; }
  .has-m-sm-l { margin-left: .5rem; }
.has-m { margin: 1rem; }
  .has-m-t { margin-top: 1rem; }
  .has-m-r { margin-right: 1rem; }
  .has-m-b { margin-bottom: 1rem; }
  .has-m-l { margin-left: 1rem; }
.has-m-lg { margin: 1rem; }
  .has-m-lg-t { margin-top: 1.5rem; }
  .has-m-lg-r { margin-right: 1.5rem; }
  .has-m-lg-b { margin-bottom: 1.5rem; }
  .has-m-lg-l { margin-left: 1.5rem; }

.has-p-sm { padding: .5rem; }
  .has-p-sm-t { padding-top: .5rem; }
  .has-p-sm-r { padding-right: .5rem; }
  .has-p-sm-b { padding-bottom: .5rem; }
  .has-p-sm-l { padding-left: .5rem; }
.has-p { padding: 1rem; }
  .has-p-t { padding-top: 1rem; }
  .has-p-r { padding-right: 1rem; }
  .has-p-b { padding-bottom: 1rem; }
  .has-p-l { padding-left: 1rem; }
.has-p-lg { padding: 1rem; }
  .has-p-lg-t { padding-top: 1.5rem; }
  .has-p-lg-r { padding-right: 1.5rem; }
  .has-p-lg-b { padding-bottom: 1.5rem; }
  .has-p-lg-l { padding-left: 1.5rem; }

.input--search { transition: all .3s ease-in-out; }
.input--search:hover,
.input--search:focus,
.input--search:active { 
  transform: scale(1.1, 1.1);
  border: 2px solid var(--color-light-overlay) !important;
  z-index: 1;
}

a.navbar-item:hover,
a.navbar-burger.burger:hover,
a.navbar-burger.burger:first-child:hover {
  background-color: transparent;
}

  












.b {border: 1px solid black;}

